@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
  margin: 0%;
  padding: 0%;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header{
  padding: 0.5rem;
  background-image: url(public/header.jpg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
  margin-left: 2%;
}

.nowrap{
  white-space: nowrap;
}

.right-header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10%;
  margin-right: 2%;
}

.logo{
  width: 100px;
  height: 100px;
}

.main{
  padding: 21rem;
  background: url(public/pokemon-3840x2160.jpg) center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.info-container{
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: -20%;
  border: solid black 3px;
  border-radius: 10px;
  align-content: center;
  justify-content: center;
}

.evolution-container{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10%;
  padding: 0.5rem;
  background-color: rgb(234, 137, 11);
  border-radius: 10px;
  border: solid black 3px;
}

.evolution{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.evolution-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: solid black 2px;
  border-radius: 50%;
  padding: 1rem;
  background-color: rgb(128, 128, 128, 0.4);
}

.center{
  text-align: center;
}